@media all {
	body {
		background: #000;
		color: #fff;
		font-family: 'Fuzzy Bubbles', cursive;
		background: url(../images/movie-collage-20.jpg) repeat-y center/cover;
	}
	
	a {
		text-decoration: none;
		color: inherit;
	}
	
	footer p {
		margin: 0;
		text-align: center;
		font-size: 14px;
	}
}

@media screen {
	
	/* Nav */
	header {
		position: sticky;
		top: 0;
		background: rgb(0, 0, 0, 0.5);
	}
	
	nav {
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
	}
	
	nav .selected {
		color: #f9cbfa;
	}
	
	.homeNav {
		justify-content: end;
	}
	
	nav ul {
		display: flex;
		gap: 25px;
		padding: 0;
		margin: 0;
		list-style: none;
		align-items: center;
	}
	
	nav a {
		color: inherit;
		font-size: 18px;
	}
	
	nav>a {
		text-transform: uppercase;
		font-size: 20px;
	}
	
	nav a:hover, nav a:focus {
		color: #f9cbfa;
	}

	/* Home */
	.container {
		min-height: 97vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 10px;
		gap: 50px;
	}
	
	main {
		display: flex;
		flex-direction: column;
		align-items: center; 
	}
	
	h1 {
		margin-top: 0;
		text-align: center;
		font-size: 120px;
		text-transform: uppercase;
		animation: fadeIn ease 5s;
		animation-iteration-count: 1;
	}
	
	@keyframes fadeIn {
		0% {
			opacity: 0;
		} 
		100% {
			opacity: 1;
		}
	}
	
	.signUp input {
		font-family: cursive;
		font-size: 25px;
		padding: 5px 10px;
	}
	
	input[type*="submit"] {
		cursor: pointer;
	}
	
	/* Login */
	.customers {
		list-style: none;
		display: grid;
		gap: 50px 75px;
		grid-template-columns: repeat(3, 1fr);
		width: fit-content;
		padding: 0;
		margin: 0;
	}
	
	.customerName {
		display: block;
		text-align: center;
		text-transform: uppercase;
		padding: 5px;
		width: fit-content;
		display: block;
		margin: 0 auto;
	}
	
	.customerPic {
		height: 300px; 
		width: 300px; 
		display: block;
		border-radius: 5px;
	}
	
	.customer {
		height: 50px;
		width: 50px;
		display: block;
		border-radius: 5px;
	}
	
	.astronaught {
		background: url(../images/astronaught.jpg) no-repeat center/cover;
	}
	
	.astronaught2 {
		background: url(../images/astronaught2.jpg) no-repeat center/cover;
	}
	
	.cat {
		background: url(../images/cat.jpg) no-repeat center/cover;
	}
	
	.donut {
		background: url(../images/donut.jpg) no-repeat center/cover;
	}
	
	.monkey {
		background: url(../images/monkey.jpg) no-repeat center/cover;
	}
	
	.addCustomer {
		background: url(../images/add-customer.png) no-repeat center/cover;
	}

}

@media screen and (max-width: 1115px) {
	/* Login */
	.customers {
		list-style: none;
		display: grid;
		gap: 50px;
		grid-template-columns: repeat(3, 1fr);
		width: fit-content;
	}
	
	.customerPic {
		height: 250px; 
		width: 250px; 
	}
}

@media screen and (max-width: 910px) {
	/* Login */
	.customers {
		list-style: none;
		display: grid;
		gap: 50px;
		grid-template-columns: repeat(2, 1fr);
		width: fit-content;
	}
	
	.customerPic {
		height: 250px; 
		width: 250px; 
		display: block;
	}
}

@media screen and (max-width: 800px) {
	/* Home */
	h1 {
		font-size: 90px;
	}
	
	.signUp input {
		font-size: 20px;
	}
	
}
