@media all {
	body {
		position: relative;
		background: #000;
		color: #fff;
		font-family: 'Fuzzy Bubbles', cursive;
		background: url(../images/movie-collage-20.jpg) repeat-y center/cover;
	}
	
	a {
		text-decoration: none;
		color: inherit;
	}
	
	footer p {
		margin: 0;
		text-align: center;
		font-size: 14px;
	}
}

@media screen {
	
	/* Nav */
	header {
		position: sticky;
		top: 0;
		background: rgb(0, 0, 0, 0.5);
		z-index: 20;
	}
	
	nav {
		top: 0;
		left: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 10px;
	}
	
	nav .selected, .library .selected {
		color: #f9cbfa;
	}
	
	.homeNav {
		justify-content: end;
	}
	
	nav ul {
		display: flex;
		gap: 25px;
		padding: 0;
		margin: 0;
		list-style: none;
		align-items: center;
	}
	
	nav a {
		color: inherit;
		font-size: 18px;
	}
	
	nav>a {
		text-transform: uppercase;
		font-size: 20px;
	}
	
	nav a:hover, nav a:focus, .library .options a:hover, .library .options a:focus {
		color: #f9cbfa;
	}
	
	.userNav {
		display: none;
	}
	
	.userNav ul {
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 0;
	}
	
	.userNav li {
		display: block;
		width: 100%;
	}
	
	.userNav a {
		display: block;
		width: 100%;
		padding: 15px 10px;
		box-sizing: border-box;
	}
	
	.userNav a:hover, .userNav a:focus {
		background: #3e2d3e;
		color: #fff;
	}
	
	
	.visible {
		display: block;
		position: absolute;
		top: 65px;
		right: 10px;
		background: #121212;
		border-radius: 5px;
		border: 1px solid #3e2d3e;
	}

	/* Home */
	.container {
		min-height: 97vh;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 0 10px;
		gap: 50px;
	}
	
	main {
		display: flex;
		flex-direction: column;
		align-items: center; 
	}
	
	h1 {
		margin-top: 0;
		text-align: center;
		font-size: 120px;
		text-transform: uppercase;
	}
	
	.signUp input {
		font-family: cursive;
		font-size: 25px;
		padding: 5px 10px;
	}
	
	input[type*="submit"] {
		cursor: pointer;
	}
	
	/* Login */
	.customers {
		list-style: none;
		display: grid;
		gap: 50px 75px;
		grid-template-columns: repeat(3, 1fr);
		width: fit-content;
		padding: 0;
		margin: 0;
	}
	
	.customerName {
		display: block;
		text-align: center;
		text-transform: uppercase;
		padding: 5px;
		width: fit-content;
		display: block;
		margin: 0 auto;
	}
	
	.customerPic {
		height: 300px; 
		width: 300px; 
		display: block;
		border-radius: 5px;
	}
	
	.customer {
		height: 50px;
		width: 50px;
		display: block;
		border-radius: 5px;
	}
	
	.astronaught {
		background: url(../images/astronaught.jpg) no-repeat center/cover;
	}
	
	.astronaught2 {
		background: url(../images/astronaught2.jpg) no-repeat center/cover;
	}
	
	.cat {
		background: url(../images/cat.jpg) no-repeat center/cover;
	}
	
	.donut {
		background: url(../images/donut.jpg) no-repeat center/cover;
	}
	
	.monkey {
		background: url(../images/monkey.jpg) no-repeat center/cover;
	}
	
	.addCustomer {
		background: url(../images/add-customer.png) no-repeat center/cover;
	}
	
	/* Add a movie */
	.movieForm {
		position: relative;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px 0;
	}
	
	.movieCover {
		position: absolute;
		background: url(../images/movie-cover.jpg) no-repeat center/cover;
		height: 373px;
		width: 260px;
		top: 0;
		right: 20px;
		display: block;
	}
	
	.movieForm label {
		grid-column: 1/2;
		font-size: 18px;
	}
	
	.movieForm input, .movieForm select {
		grid-column: 2/3;
		padding: 5px;
	}
	
	.movieForm textarea {
		grid-column: 2/5;
	}
	
	.movieForm input[type*="submit"] {
		grid-column: 4/5;
		width: fit-content;
		justify-self: end;
		padding: 2px 5px;
	}
	
	/* Browse */
	.browse, .library {
		position: relative;
		top: 0;
		left: 0;
	}
	.browse .search {
		width: 870px;
		display: flex;
		justify-content: center;
		gap: 5px;
	}
	
	.browse input[type*="search"] {
		font-size: 30px;
		width: 97%;
	}
	
	.browse input[type*="submit"] {
		padding: 0 10px;
	}
	
	.browse ul {
		display: grid;
		justify-content: space-between;
		grid-template-columns: repeat(3, 1fr);
		gap: 40px;
		padding: 0;
	}
	.browse li {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}
	
	.browse .movieCover, .checkout .movieCover, .library .movieCover {
		position: static;
	}
	
	.browse .hide {
		display: none;
	}
	
	.browse .movieInfo, .checkout .movieInfo, .library .movieInfo {
		position: fixed;
		top: 20vh;
		background: black;
		border-radius: 5px;
		border: 2px solid #3e2d3e;
		display: flex;
		flex-direction: column;
		align-items: start;
		gap: 10px;
		width: 800px;
		padding: 20px;
		height: 400px;
		font-family: cursive;
	}
	
	.browse .movieInfo button, .checkout .movieInfo button, .library .movieInfo button {
		position: absolute;
		top: 5px;
		right: 10px;
		padding: 0 5px;
		cursor: pointer;
	}
	
	.browse .movieInfo .cartButton {
		position: static;
		align-self: center;
		border-radius: 2px;
		border: 0;
		background: #fff;
		color: black;
		padding: 5px 10px;
	}
	
	.browse .movieInfo .cartButton:hover {
		background: #c9c9c9;
	}
	
	.browse .movieInfo .cartButton[disabled*="true"] {
		background: #c9c9c9;
	}
	
	/* Checkout */
	.checkout .cart, .library {
		width: 600px;
	}
	
	.checkout .movieInfo, .library .movieInfo {
		list-style: none;
		justify-content: space-between;
	}
	
	.checkout .cartButton, .library .cartButton {
		display: none;
	}
	
	.checkout h1 {
		font-size: 36px;
		text-align: left;
		border-bottom: 1px solid gray;
		margin: 0;
	}
	
	.checkout table, .library table {
		text-align: left;
		width: 600px;
		border-collapse: collapse;
	}
	
	.checkout table td, .checkout table th {
		padding: 10px 0;
	}
	
	.checkout .imageCol, .library .imageCol {
		width: 30%;
	}
	
	.checkout .itemCol, .checkout .priceCol {
		width: 35%;
	}
	
	.checkout .priceCol {
		text-align: right;
	}
	
	.checkout .totalRow {
		border-top: 1px solid gray;
	}
	
	.checkout .movieCover, .library .movieCover {
		width: 80px;
		height: 150px;
	}
	
	/* Library */
	.library {
		margin: 0 auto;
	}
	
	.libary table td, .library table th {
		padding: 15px 0;
	}
	
	.library .options {
		display: flex;
		gap: 40px;
		font-size: 30px;
		justify-content: center;
		margin-bottom: 25px;
		border-bottom: 1px solid gray;
	}
	
	.library .form {
		display: flex;
		justify-content: center;
	}
	
	.library .checkbox:hover {
		cursor: pointer;
	}
	
	.library .returnCol {
		text-align: center;
	}
	
	.library input[type*="submit"] {
		padding: 5px 8px;
		margin-top: 10px;
	}

}

@media screen and (max-width: 1115px) {
	/* Login */
	.customers {
		list-style: none;
		display: grid;
		gap: 50px;
		grid-template-columns: repeat(3, 1fr);
		width: fit-content;
	}
	
	.customerPic {
		height: 250px; 
		width: 250px; 
		display: block;
	}
}

@media screen and (max-width: 910px) {
	/* Login */
	.customers {
		list-style: none;
		display: grid;
		gap: 50px;
		grid-template-columns: repeat(2, 1fr);
		width: fit-content;
	}
	
	/* Browse */
	.browse .search {
		width: 700px;
	}
	
	.browse .movieCover {
		height: 300px;
		width: 200px;		
	}
}

@media screen and (max-width: 800px) {
	/* Home */
	h1 {
		font-size: 90px;
	}
	
	.signUp input {
		font-size: 20px;
	}
	
}
